@import './variables';

.home-header{    
 height: $navbar-height;    //变量过来的高度
 width: 100%;
 position: absolute;
 top: 0;
 background: red;
}

.content{
    margin-top: $navbar-height;
    width: 100%;
    height: 100%;
    background: orange;
}

.go-top{
    position: fixed;
    bottom: $tabbar-height + 10;
    right: 10px;
    background: red;
}

